<template>
  <div id="app">
      <router-view/>
  </div>
</template>
<script>
</script>

<style lang="scss">
  @import "~materialize-css/dist/css/materialize.min.css";
  @import "assets/index.css";
</style>
